<a href="https://colab.research.google.com/github/giholv/TechWeather/blob/main/spark_interrup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# instalar as dependências
!apt-get update -qq
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install -q findspark

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Iniciando com Spark") \
    .config('spark.ui.port', '4050') \
    .getOrCreate()

In [ ]:
!wget -q https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip

Archive:  ngrok-stable-linux-amd64.zip
replace ngrok? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ngrok

In [ ]:
get_ipython().system_raw('./ngrok authtoken 2ltM8DyTSfaSjG7gfmCWpvvuB88_6Zs1qpMZSM7SkkNarfeYV')
get_ipython().system_raw('./ngrok http 4050 &')

In [ ]:
!curl -s http://localhost:4040/api/tunnels

{"tunnels":[],"uri":"/api/tunnels"}

In [ ]:
spark

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

path = '/content/drive/MyDrive/datainterrup'
# Ler o arquivo CSV com codificação UTF-8
interrup = spark.read.option("encoding", "ISO-8859-1").csv(path,sep= ";", inferSchema=True,header=True)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
interrup.limit(10).toPandas()

,DatGeracaoConjuntoDados,IdeConjuntoUnidadeConsumidora,DscConjuntoUnidadeConsumidora,DscAlimentadorSubestacao,DscSubestacaoDistribuicao,NumOrdemInterrupcao,DscTipoInterrupcao,IdeMotivoInterrupcao,DatInicioInterrupcao,DatFimInterrupcao,DscFatoGeradorInterrupcao,NumNivelTensao,NumUnidadeConsumidora,NumConsumidorConjunto,NumAno,NomAgenteRegulado,SigAgente,NumCPFCNPJ
0,2024-03-14,12590,TAQUARI,TQ-TQ303,TQ,2019-12,Não Programada,0,2019-01-01 00:00:00,2019-01-01 08:00:00,INTERNA;NAO PROGRAMADA;MEIO AMBIENTE;ANIMAIS,13800,101,50241,2019,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,ELETROACRE,04065033000170
1,2024-03-14,12594,Epitaciolândia,SEXP-XP201,SEXP,2019-29702,Não Programada,0,2019-02-19 18:22:00,2019-02-19 21:46:00,INTERNA;NAO PROGRAMADA;PROPRIAS DO SISTEMA;FAL...,127,1,24160,2019,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,ELETROACRE,04065033000170
2,2024-03-14,12590,TAQUARI,SEAC-AC202,SEAC,2019-58586,Não Programada,0,2019-04-09 05:55:00,2019-04-09 08:37:59,INTERNA;NAO PROGRAMADA;MEIO AMBIENTE;ARVORE OU...,13800,3,50524,2019,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,ELETROACRE,04065033000170
3,2024-03-14,12596,São Francisco,SESQ SQ221,SESQ,83743,Não Programada,0,2019-06-06 17:16:57,2019-06-06 17:43:59,INTERNA - NAO PROGRAMADA - PROPRIAS DO SISTEMA...,127,32,48963,2019,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,ELETROACRE,04065033000170
4,2024-03-14,12596,São Francisco,SESQ-SQ207,SESQ,2019-110233,Não Programada,0,2019-08-10 16:41:48,2019-08-10 18:33:59,INTERNA - NAO PROGRAMADA - PROPRIAS DO SISTEMA...,127,1,48826,2019,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,ELETROACRE,04065033000170
5,2024-03-14,12592,Tarauacá,USTAR-003,USTAR,2019-138552,Não Programada,0,2019-09-27 07:41:45,2019-09-27 09:09:00,INTERNA;NAO PROGRAMADA;PROPRIAS DO SISTEMA;FAL...,13800,40,8513,2019,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,ELETROACRE,04065033000170
6,2024-03-14,12593,Sena Madureira,SESN-SN202,SESN,2019-163999,Não Programada,0,2019-11-12 03:38:55,2019-11-12 06:20:59,INTERNA;NAO PROGRAMADA;PROPRIAS DO SISTEMA;NAO...,13800,583,14849,2019,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,ELETROACRE,04065033000170
7,2024-03-14,12593,Sena Madureira,SESN-SN202,SESN,2019-19370,Não Programada,0,2019-02-04 13:10:00,2019-02-04 14:10:00,INTERNA;NAO PROGRAMADA;MEIO AMBIENTE;DESCARGA ...,13800,52,14547,2019,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,ELETROACRE,04065033000170
8,2024-03-14,12597,Tangará,SETG-TG206,SETG,2019-48372,Não Programada,0,2019-03-25 14:25:00,2019-03-26 14:00:00,INTERNA;NAO PROGRAMADA;MEIO AMBIENTE;DESCARGA ...,13800,7,64577,2019,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,ELETROACRE,04065033000170
9,2024-03-14,12595,Cruzeiro do Sul,USCDS-003,USCDS,2019-75855,Não Programada,0,2019-05-15 17:56:43,2019-05-15 19:38:00,INTERNA;NAO PROGRAMADA;PROPRIAS DO SISTEMA;FAL...,127,1,39359,2019,ENERGISA ACRE - DISTRIBUIDORA DE ENERGIA S.A,ELETROACRE,04065033000170

In [ ]:
from pyspark.sql import functions as f
from pyspark.sql.types import StringType, DoubleType, DateType,TimestampType
import pandas as pd
from pyspark.sql.functions import date_format

spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

# Converter as colunas de data para o formato correto
interrup = interrup.withColumn('DatInicioInterrupcao', f.to_date(f.col('DatInicioInterrupcao'), 'yyyy-MM-dd HH:mm:ss'))
interrup = interrup.withColumn('DatFimInterrupcao', f.to_date(f.col('DatFimInterrupcao'), 'yyyy-MM-dd HH:mm:ss'))

interrup = interrup.withColumn('NumAno', f.col('NumAno').cast(StringType()))

# Converter o timestamp para string apenas com a data 'yyyy-MM-dd'

interrup = interrup.withColumn('DatInicioInterrupcao', date_format(f.col('DatInicioInterrupcao'), 'yyyy/MM/dd'))

In [ ]:
!pip install unidecode

Requirement already satisfied: unidecode in /usr/local/lib/python3.10/dist-packages (1.3.8)

In [ ]:
from pyspark.sql.types import StringType, TimestampType
from pyspark.sql.functions import udf, col, regexp_replace, when, upper, split
from unidecode import unidecode

# Função para remover acentuação usando unidecode
def remove_accents(input_str):
    if input_str:
        return unidecode(input_str)
    return None

#função para remover acentos
remove_accents_udf = udf(remove_accents, StringType())

# Aplicar a função para remover acentuação na mesma coluna
interrup = interrup.withColumn("DscConjuntoUnidadeConsumidora",
                               when(col("DscConjuntoUnidadeConsumidora").isNotNull(),
                                    remove_accents_udf(col("DscConjuntoUnidadeConsumidora"))).otherwise(None))

# Remover caracteres especiais na mesma coluna
interrup = interrup.withColumn("DscConjuntoUnidadeConsumidora",
    regexp_replace(col("DscConjuntoUnidadeConsumidora"), "[^a-zA-Z0-9 ]", ""))

# Remover espaços em branco extras na mesma coluna
interrup = interrup.withColumn("DscConjuntoUnidadeConsumidora",
    regexp_replace(col("DscConjuntoUnidadeConsumidora"), "\s+", " "))

# Remover espaços em branco no início e no final na mesma coluna
interrup = interrup.withColumn("DscConjuntoUnidadeConsumidora",
    regexp_replace(col("DscConjuntoUnidadeConsumidora"), "^\s+|\s+$", ""))

# Converte a coluna para caixa alta

interrup = interrup.withColumn("DscConjuntoUnidadeConsumidora", upper(col("DscConjuntoUnidadeConsumidora")))
interrup = interrup.withColumn("DscFatoGeradorInterrupcao", upper(col("DscFatoGeradorInterrupcao")))
interrup = interrup.withColumn("NomAgenteRegulado", upper(col("NomAgenteRegulado")))

interrup = interrup.withColumn("DscTipoInterrupcao", upper(col("DscTipoInterrupcao")))
interrup = interrup.withColumn("DscTipoInterrupcao",
                               when(col("DscTipoInterrupcao").isNotNull(),
                                    remove_accents_udf(col("DscTipoInterrupcao"))).otherwise(None))

#remove acentuação e caracteres
interrup = interrup.withColumn("DscTipoInterrupcao",
    regexp_replace(col("DscTipoInterrupcao"), "[^a-zA-Z0-9 ]", ""))

#substitui o separador - por ;
interrup = interrup.withColumn("DscFatoGeradorInterrupcao",
    regexp_replace(col("DscFatoGeradorInterrupcao"), " - ", ";"))

#separa a coluna descrição dos fato gerador das interrupções em 4 partes

interrup\
        .where('NumCPFCNPJ == 61695227000193')
interrup = interrup.withColumn("parte_1", split(interrup['DscFatoGeradorInterrupcao'], ";").getItem(0)) \
             .withColumn("parte_2", split(interrup['DscFatoGeradorInterrupcao'], ";").getItem(1)) \
             .withColumn("parte_3", split(interrup['DscFatoGeradorInterrupcao'], ";").getItem(2)) \
             .withColumn("parte_4", split(interrup['DscFatoGeradorInterrupcao'], ";").getItem(3))

#substitui valores em 'None' para desconhecido
interrup = interrup.fillna({'parte_4':'DESCONHECIDO'})

#remove as colunas data de geração do conjunto e descrição do alimentador
interrup = interrup.drop('DatGeracaoConjuntoDados')
interrup = interrup.drop('DscAlimentadorSubestacao')

#substitui valores
interrup = interrup.withColumn('DscConjuntoUnidadeConsumidora',\
                               regexp_replace('DscConjuntoUnidadeConsumidora', 'ALEX DE GUSMAO', 'ALEXANDRE DE GUSMAO'))\
                    .withColumn('DscConjuntoUnidadeConsumidora',\
                               regexp_replace('DscConjuntoUnidadeConsumidora', 'MIGUEL REALERETICULADO', 'MIGUEL REALE'))\
                    .withColumn('DscConjuntoUnidadeConsumidora',\
                               regexp_replace('DscConjuntoUnidadeConsumidora', 'BANDEIRANTESRETICULADO','BANDEIRANTES'))
interrup\
    .where('NumCPFCNPJ == 61695227000193')

DataFrame[IdeConjuntoUnidadeConsumidora: string, DscConjuntoUnidadeConsumidora: string, DscSubestacaoDistribuicao: string, NumOrdemInterrupcao: string, DscTipoInterrupcao: string, IdeMotivoInterrupcao: int, DatInicioInterrupcao: string, DatFimInterrupcao: date, DscFatoGeradorInterrupcao: string, NumNivelTensao: int, NumUnidadeConsumidora: int, NumConsumidorConjunto: int, NumAno: string, NomAgenteRegulado: string, SigAgente: string, NumCPFCNPJ: string, parte_1: string, parte_2: string, parte_3: string, parte_4: string]

In [ ]:
clean_df = interrup.dropna(how='any', subset=[
    'IdeConjuntoUnidadeConsumidora', 'DscConjuntoUnidadeConsumidora', 'DscSubestacaoDistribuicao',
    'NumOrdemInterrupcao', 'DscTipoInterrupcao', 'IdeMotivoInterrupcao', 'DatInicioInterrupcao',
    'DatFimInterrupcao', 'DscFatoGeradorInterrupcao', 'NumNivelTensao', 'NumUnidadeConsumidora',
    'NumConsumidorConjunto', 'NumAno', 'NomAgenteRegulado', 'SigAgente', 'NumCPFCNPJ',
    'parte_1', 'parte_2', 'parte_3', 'parte_4'])

In [ ]:
interrup = interrup.fillna({'DscTipoInterrupcao': 'DESCONHECIDO'})

agg_df = interrup\
                .groupBy('DatInicioInterrupcao', 'NumOrdemInterrupcao')\
                .pivot('DscTipoInterrupcao')\
                .agg(f.lit(1))\
                .na.fill(0)

agg_df.show()

+--------------------+--------------------+------------+--------------+----------+
|DatInicioInterrupcao| NumOrdemInterrupcao|DESCONHECIDO|NAO PROGRAMADA|PROGRAMADA|
+--------------------+--------------------+------------+--------------+----------+
|          2019/02/03|05-20192868162175...|           0|             1|         0|
|          2019/03/16|05-20192920384346...|           0|             1|         0|
|          2019/03/01|05-20192901249185...|           0|             1|         0|
|          2019/03/01|05-20192901232230...|           0|             1|         0|
|          2019/11/08|05-20193615041913...|           0|             0|         1|
|          2019/12/24|05-20193791886151...|           0|             1|         0|
|          2019/10/04|      2019-10-222734|           0|             1|         0|
|          2019/02/05|      2019-2-2075757|           0|             1|         0|
|          2019/06/07|       2019-6-442525|           0|             1|         0|
|          2019/09/05|        2019-9-14715|           0|             1|         0|
|          2019/09/05|        2019-9-12751|           0|             1|         0|
|          2019/06/28|       2019-6-479963|           0|             1|         0|
|          2019/11/05|      2019-11-117671|           0|             1|         0|
|          2019/11/16|      2019-11-376730|           0|             1|         0|
|          2019/02/26|       2019-2-136785|           0|             1|         0|
|          2019/03/23|        2019-3-79679|           0|             1|         0|
|          2019/06/15|        2019-6-43156|           0|             1|         0|
|          2019/09/16|        2019-9-31721|           0|             1|         0|
|          2019/02/23|       2019-2-135537|           0|             1|         0|
|          2019/02/18|       2019-2-152588|           0|             1|         0|
+--------------------+--------------------+------------+--------------+----------+
only showing top 20 rows

In [ ]:
data_interrup = agg_df.withColumnRenamed('DatInicioInterrupcao', 'DATA')

data_interrup.show()

+----------+--------------------+------------+--------------+----------+
|      DATA| NumOrdemInterrupcao|DESCONHECIDO|NAO PROGRAMADA|PROGRAMADA|
+----------+--------------------+------------+--------------+----------+
|2019/02/03|05-20192868162175...|           0|             1|         0|
|2019/03/16|05-20192920384346...|           0|             1|         0|
|2019/03/01|05-20192901249185...|           0|             1|         0|
|2019/03/01|05-20192901232230...|           0|             1|         0|
|2019/11/08|05-20193615041913...|           0|             0|         1|
|2019/12/24|05-20193791886151...|           0|             1|         0|
|2019/10/04|      2019-10-222734|           0|             1|         0|
|2019/02/05|      2019-2-2075757|           0|             1|         0|
|2019/06/07|       2019-6-442525|           0|             1|         0|
|2019/09/05|        2019-9-14715|           0|             1|         0|
|2019/09/05|        2019-9-12751|           0|             1|         0|
|2019/06/28|       2019-6-479963|           0|             1|         0|
|2019/11/05|      2019-11-117671|           0|             1|         0|
|2019/11/16|      2019-11-376730|           0|             1|         0|
|2019/02/26|       2019-2-136785|           0|             1|         0|
|2019/03/23|        2019-3-79679|           0|             1|         0|
|2019/06/15|        2019-6-43156|           0|             1|         0|
|2019/09/16|        2019-9-31721|           0|             1|         0|
|2019/02/23|       2019-2-135537|           0|             1|         0|
|2019/02/18|       2019-2-152588|           0|             1|         0|
+----------+--------------------+------------+--------------+----------+
only showing top 20 rows

In [ ]:
import pandas as pd

arquivo = '/content/drive/MyDrive/INMET_SE_SP_A771_SAO PAULO - INTERLAGOS_01-01-2023_A_31-12-2023.csv'
chuvas = pd.read_csv(arquivo, sep=';')
chuvas.head()

,DATA,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)"
0,01/01/2019,0,"927,3","19,7","30,7",23,"19,7","83,1",50,"11,1","2,1"
1,02/01/2019,0,"927,7","20,9","33,4","25,5","21,4","79,3",43,"10,3","1,6"
2,03/01/2019,"44,4","925,5","20,5","34,5",27,"21,1","69,3",41,"9,9","2,2"
3,04/01/2019,0,926,"20,5","31,6","23,4","21,8","84,7",55,"9,2",2
4,05/01/2019,"69,4","926,6","20,3",25,"21,9","20,3","90,9",76,"7,5","1,6"

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_date
import pandas as pd

# Iniciar a sessão do Spark
spark = SparkSession.builder.appName("tech").getOrCreate()

# Converter a coluna 'DATA' para o tipo datetime no Pandas
chuvas['DATA'] = pd.to_datetime(chuvas['DATA'], errors='coerce')

# Preencher valores nulos em 'DATA' com uma data padrão
chuvas['DATA'].fillna(pd.Timestamp('1900-01-01'), inplace=True)

# Converter o DataFrame Pandas diretamente para PySpark
chuvas_spark = spark.createDataFrame(chuvas)

# Converter a coluna 'DATA' em chuvas_spark para o formato de data
chuvas_spark = chuvas_spark.withColumn("DATA", to_date(chuvas_spark["DATA"], "yyyy-MM-dd"))

# Converter a coluna 'DATA' em data_interrup para o formato de data
data_interrup = data_interrup.withColumn("DATA", to_date(data_interrup["DATA"], "yyyy-MM-dd"))

# Realizar o join entre os DataFrames do PySpark
df = data_interrup.join(chuvas_spark, on='DATA', how='inner')

# Exibir o resultado
df.show()

<ipython-input-31-5d58eba9af18>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  chuvas['DATA'].fillna(pd.Timestamp('1900-01-01'), inplace=True)

AttributeError: 'DataFrame' object has no attribute 'iteritems'